NODE_ENV=development
PORT=3002
MONGODB_URL=mongodb://execution:execution@localhost:27017/execution?authSource=admin
RABBITMQ_URL=amqp://workorder:workorder@localhost:5672
RABBITMQ_QUEUE=execution_queue
JWT_SECRET=change-me
